.auth-form {
    display: block;
    background: beige;
    border-bottom: 10px solid #509fb5;
    min-height: 200px;
    width: 40%;
    max-width: 400px;
    min-width: 380px;
    margin: 100px auto;
}

.auth-form label {
    display: flex;
    align-content: space-between;
    padding: 20px;
}

.auth-form input {
    width: 200px;
}

.auth-form input[type="submit"] {
    margin-top: 40px;
}

.auth-form .caption {
    flex: 1;
}
