.auth-form {
    display: block;
    background: beige;
    border-bottom: 4px solid #509fb5;
    min-height: 200px;
    width: 40%;
    max-width: 400px;
    min-width: 380px;
    margin: 100px auto;
}

.auth-form label {
    display: flex;
    align-content: space-between;
    padding: 20px;
}

.auth-form input:not([type="submit"]) {
    width: 200px;
    box-shadow: none;
    border: 1px solid rgba(80, 159, 181, 0.31);
    padding: 4px 8px;
}

.auth-form input[type="submit"] {
    margin-top: 20px;
    width: 100px;
}

.auth-form .caption {
    flex: 1;
}

.auth-form .login {
    display: inline-block;
    border: none;
    border-bottom: 4px solid #509fb5;
    padding: 4px 8px;
    color: beige;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0, 128, 128, 0.34);
}
