.App {
  text-align: center;
  padding: 40px;
}

.content {
  padding: 20px;
}

.logout {
  position: fixed;
  right: 20px;
  top: 40px;
  background: tomato;
  border: none;
  padding: 4px 8px;
  color: #fff;
  border-bottom: 4px solid rgba(57, 0, 13, 0.45);
}

.nav-link {
  display: inline-block;
  background: rgba(0, 128, 128, 0.58);
  width: 100px;
  text-decoration: none;
  padding: 4px 8px;
  margin: 4px;
  color: #fff;
  border-bottom: 4px solid rgb(20, 46, 57);
}

.nav-link.selected {
  background: teal;
}
